/*==================================== MEDIA ====================================*/
/*==================================== MEDIA ====================================*/


/*------------------------------ 1200 ------------------------------*/

@media (max-width: 1200px) {
	.services {
		&__item {
			padding: 30px;
		}
	}
}


/*------------------------------ 1024 ------------------------------*/

@media (max-width: 1024px) {
	.plan {
		&__card {
			padding-bottom: 30px;

		}

		&__card-top {
			padding-top: 30px;
			margin-bottom: 0;
		}

	}

	.team {

		&__slide-socials {
			max-width: 200px;
		}

		&__slide-link {
			width: 30px;
			height: 30px;
		}

		&__slide-icon {
			img {
				width: 20px;
				height: 20px;
			}
		}
	}

	.contact {
		&__form-input {
			padding: 15px;
		}

		&__form-text {
			padding: 15px;
			height: 200px;
		}
	}
}

/*------------------------------ 880 ------------------------------*/

@media (max-width: 880px) {
	.text {
		margin: 0 auto 80px;
	}

	.header {
		z-index: 100;
		height: 80px;

		&__menu {
			position: fixed;
			top: 0;
			bottom: 0;
			right: 0;
			background: #fff;
			margin-right: 0;
			min-width: 320px;
			transition: all .3s;
			transform: translate(100%, 0);

			&--active {
				transform: translate(0, 0);
			}
		}

		&__menu-list {
			flex-direction: column;
			align-items: center;
			justify-content: center;
			height: 100%;
		}

		&__menu-item {
			margin-bottom: 30px;
		}

		&__search-button {
			margin-right: 100px;
		}
	}

	.burger {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		width: 50px;
		height: 50px;
		position: fixed;
		top: 16px;
		right: 20px;
		transition: all .3s;
		z-index: 100;

		&__line {
			width: 40px;
			height: 4px;
			border-radius: 3px;
			background: #000;
			transition: all .3s;
		}

		&--active {
			transform: rotate(45deg);

			.burger__line {
				position: absolute;

				&:first-child {
					transform: rotate(90deg);
				}

				&:last-child {
					transform: rotate(90deg);
				}
			}
		}
	}

	.overlay {
		position: fixed;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		background: #00000045;
		visibility: hidden;
		opacity: 0;
		z-index: 98;

		&--show {
			visibility: visible;
			opacity: 1;
		}
	}

	.hero {
		padding-top: 80px;
	}

	.about {
		padding: 80px 0;

		&__text {
			margin-bottom: 80px;
		}

		&__row {
			flex-direction: column;
		}

		&__item {
			&:not(:last-child) {
				margin-right: 0;
				margin-bottom: 60px;
			}
		}
	}

	.services {
		padding: 80px 0;

		&__list {
			gap: 15px;
		}

		&__item-icon {
			margin-bottom: 17px;
		}

		&__item-text {
			margin-bottom: 15px;
		}
	}

	.plan {
		padding: 80px 0;
	}

	.team {
		padding: 80px 0;
	}

	.blog {
		padding: 60px 0;

		&__text {
			margin-bottom: 60px;
		}

		&__list {
			margin-bottom: 80px;
		}

		&__item {
			// margin-bottom: 20px;
		}

		&__item-title {
			font-size: 20px;
		}

		&__item-info {
			font-size: 14px;
		}

		&__item-body {
			padding-top: 30px;
		}
	}
}


/*------------------------------ 790 ------------------------------*/

@media (max-width: 790px) {
	.contact {
		&__list {
			flex-direction: column;
		}

		&__item {
			flex-direction: row;
			justify-content: center;
			align-items: center;
			margin-bottom: 30px;
		}

		&__item-icon {
			margin-right: 30px;
			margin-bottom: 0;
			width: 80px;
			height: 80px;

			img {
				width: 50%;
			}
		}

		&__item-info {
			text-align: left;
			font-size: 15px;
			max-width: 190px;
		}
	}
}

/*------------------------------ 768 ------------------------------*/

@media (max-width: 768px) {
	.services {
		&__list {
			grid-template: repeat(3, 1fr) / repeat(2, 1fr);
		}
	}

	.works {
		&__filter-button {
			padding: 10px;
		}
	}

	.plan {
		&__card {
			&:hover {
				transform: scale(1.1);
				z-index: 3;
			}

			&:nth-child(2) {
				position: absolute;
				left: 50%;
				transform: translate(-50%, 0) scale(1.1);
				z-index: 2;
			}
		}
	}

	.team {

		&__text {
			margin-bottom: 60px;
		}

		&__slider {
			margin-bottom: 60px;
		}

		&__slide-socials {
			max-width: 150px;
		}

		&__slide-link {
			width: 25px;
			height: 25px;
		}

		&__slide-icon {
			img {
				width: 15px;
				height: 15px;
			}
		}
	}

	.blog {
		&__item {
			margin-bottom: 20px;
		}
	}
}

/*------------------------------ 650 ------------------------------*/

@media (max-width: 650px) {
	.hero {
		&__heading {
			font-size: 40px;
		}

		&__text {
			font-size: 18px;
		}

		&__button {
			font-size: 18px;
			width: 180px;
			height: 60px;
		}

		&__button-box {
			width: 400px;
		}
	}

	.team {

		&__slide-socials {
			max-width: 180px;
		}

		&__slide-link {
			width: 30px;
			height: 30px;
		}

		&__slide-icon {
			img {
				width: 20px;
				height: 20px;
			}
		}
	}

	.blog {
		&__item-body {
			padding: 0 15px;
		}
	}
}

/*------------------------------ 550 ------------------------------*/

@media (max-width: 550px) {
	.services {
		&__list {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}

	.works {
		&__filter-button {
			font-size: 14px;
		}

		&__list {
			grid-template: 1fr auto / 1fr 1fr;
			margin-bottom: 70px;
		}
	}

	.plan {
		&__cards {
			flex-direction: column;
			align-items: center;
		}

		&__card {
			&:nth-child(2) {
				position: static;
				transform: translate(0, 0);
			}

			&:not(:last-child) {
				margin-right: 0;
			}

			margin-bottom: 20px;
		}
	}

	.blog {
		&__item {
			position: relative;
			height: 357px;
			display: flex;
			justify-content: center;
			align-items: center;
			color: #fff;

			&::after {
				content: '';
				display: block;
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background-color: #00000096;
			}

			&:first-child {
				background: url('../img/blog_img_1.png') center;
			}

			&:nth-child(2) {
				background: url('../img/blog_img_2.png') center;
			}

			&:last-child {
				background: url('../img/blog_img_3.png') center;
			}
		}

		&__item-image {
			display: none;
		}

		&__item-body {
			height: 100%;
			z-index: 1;
		}
	}
}

/*------------------------------ 450 ------------------------------*/

@media (max-width: 450px) {
	.hero {

		&__heading {
			font-size: 30px;
		}

		&__button-box {
			flex-direction: column;
			width: 100%;
			align-items: center;
			height: 150px;
		}
	}

	.works {
		padding-top: 70px;
		padding-bottom: 70px;

		&__text {
			margin-bottom: 70px;
		}

		&__filter-box {
			display: grid;
			grid-template: 1fr 1fr / 1fr 1fr;
			justify-items: center;
			margin-bottom: 50px;
		}

		&__filter-item {
			&:not(:last-child) {
				margin-bottom: 30px;
			}
		}

		&__filter-button {
			width: 140px;
		}
	}

	.plan {
		&__card {
			width: 290px;
		}
	}

	.contact {
		&__form-top {
			flex-direction: column;
		}

		&__form-input {
			&:first-child {
				margin-right: 0;
				margin-bottom: 30px;
			}
		}
		&__form-button {
			width: 100%;
		}
	}
}